//	GLOBAL STYLES //
html, body, .container-fluid {

	width: 100%;
	padding: 0;
	margin: 0;
}
footer {
	margin: 0;
	padding: 0;
}
.browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

//TYPOGRAPHY AND FONT INCLUDES
@font-face {
  font-family: ' ';
  src: url('./fonts/webfontkit-baron-regular/baron_neue-webfont.eot'); /* IE9 Compat Modes */
  src: url('./fonts/webfontkit-baron-regular/baron_neue-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/webfontkit-baron-regular/baron_neue-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/webfontkit-baron-regular/baron_neue-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/webfontkit-baron-regular/baron_neue-webfont.svg') format('svg'); /* Legacy iOS */
}

//  DOCUMENT LEVEL FONT-SIZE ADJUSTMENTS  //
html {
	font-size: $base_html_font_size;
}
@media screen and (max-width: 900px) {
	html { font-size: 15px; }
}
@media screen and (max-width: 400px) {
	html { font-size: 13px; }
}

/*	Modules will scale with document */
.header-module {
	font-size: 1.5rem;
}
.footer-module {
	font-size: 0.75rem;
}
.section-module {
	font-size: 0.85rem;
}

// TYPOGRAPHY ADJUSTMENTS
nav a {
	text-align: center;
	text-transform: uppercase; 
	color: black;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.1em;
	&:hover {
		color: $primary_color;
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
		color: black;
	}
}
