//	GLOBAL VARIABLES //
//	TYPOGRAPHY VARIABLES //


//	COLOR VARIABLES //
$primary_color: #ff377e;	/* PINK */
$gradient_color_one: #CC1AAC;
$gradient_color_two: #FF4c70;
$secondary_color: #FA6746;
$accent_orange: #FF512F;
$white_text: #fff;
$primary_color_highlight: darken(#313139, 10%);


//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 17px;
$base_html: 17;


//	PAGE SPECIFIC VARIABLES //