
/*
Site Name: Avon39
Author: MalloryPorche
Author URI: http://www.wearetrailblazers.com/nfp
Description: Non-profit website
Version: 1.0
*/

/*
----------------------------------------------------------------
Made with love by MalloryPorche | http://www.msmalloryporche.com
----------------------------------------------------------------
/*  1) CSS RESET, BOOTSTRAP STYLING, general  */
@import "_reset";

/*  2) DEFINE VARIABLES & MIXINS  */
@import "_variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "_mixins";

/*  3) GLOBAL STYLES  */
@import "_globals";

/*  4) HOME & NAVIGATION  */
@import "pages/_home.scss";

/*  5) SECTIONS:  */
/*  6) SECTIONS  */
/*  7) SERVICES  */
/*  8) WORKS  */
/*  9) GALLERY  */
/*  10) TEAM  */
/*  11) CONTACT  */
/*  12) FOOTER  */
/*  13) CAROUSELS  */
/*  14) BUTTONS  */




